@import "../../assets/global-variables.scss";

.main-panel {
  display: flex;
  .main-panel-side-bar {
    width: 300px;
    border-right: 1px solid $border-color;
  }

  .main-content{
    width: 100%;

    ::ng-deep .messaging-section{
      padding: 20px 0 0 20px;
    }
  }

}
