<div class="main-panel">
  <div class="main-panel-side-bar">
    <app-repairs-panel></app-repairs-panel>
    <app-customer-details></app-customer-details>
  </div>
  <div class="main-content">
    <app-message-panel-upper-section></app-message-panel-upper-section>
    <div class="messaging-section">
      <p-card styleClass="messaging-card">
        <app-message-list></app-message-list>
        <p-divider styleClass="divider"></p-divider>
        <app-message-typing-section></app-message-typing-section>
      </p-card>
    </div>
  </div>
</div>
