$border-color: #e1e1e1;

.side-bar{
  padding: 5px 0px 15px 5px;
  width: 250px;
  // height: '100vh';
  // background-color: red;
  border-right: 1px $border-color solid;

  .top-title {
    width: 100%;
    border-bottom: 1px $border-color solid;

    h5{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.2em;

      .booster-label {
        font-weight: 700 !important;
      }

    }
  }


}
