$border-color: #e1e1e1;

.side-bar {
  padding: 0px 0px 0px 5px;
  width: 220px;
  height: 100vh;
  border-right: 1px $border-color solid;

  .top-title {
    width: 100%;
    border-bottom: 1px $border-color solid;
    height: 55px;
    display: flex;
    align-items: center;

    h5 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.2em;

      .booster-label {
        font-weight: 700 !important;
      }
    }
  }
}
