$border-color: #e1e1e1;

.header {
  padding: 15px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px $border-color solid;
  height: 55px;

  .search-input {
    input {
      padding: 4px 36px;
      width: 400px;
    }

    i {
      margin-top: -12px;
    }
  }

  .top-panel {
    display: flex;

    ::ng-deep .dropdown {
      border: 0;

      ::ng-deep .p-dropdown-label {
        padding: 4px 8px;
        display: flex;
        font-size: 0.8em;
      }

      ::ng-deep .p-dropdown-item {
        padding: 4px 8px;
        display: flex;
        font-size: 0.8em;
      }
    }

    .avatar-box {
      margin: 0px 10px;
    }
  }
}
