<div class="header">
  <span class="p-float-label p-input-icon-left search-input">
    <i class="pi pi-search"></i>
    <input
      type="text"
      id="inputtext-left"
      pInputText
      [(ngModel)]="searchingValue"
      placeholder="Search"
    />
  </span>

  <div class="top-panel">
    <p-dropdown
      [options]="dropdownOptions"
      [(ngModel)]="dropdownValue"
      optionLabel="label"
      optionValue="value"
      styleClass="dropdown"
    >
        <ng-template let-group pTemplate="item" class="option">
        <div class="p-d-flex p-ai-center">
          <!-- <p-badge styleClass="badge"></p-badge> -->
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
      <ng-template let-group pTemplate="selectedItem">
        <div class="p-d-flex p-ai-center">
          <!-- <p-badge styleClass="badge"></p-badge> -->
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
  </p-dropdown>

    <div class="avatar-box">
      <p-avatar
        [style]="{ 'background-color': '#c2c2e9', color: 'blue' }"
        shape="circle"
        size="medium"
        class="avatar"
        >{{ title }}</p-avatar
      >
    </div>
  </div>
</div>
