<div class="messaging-section">
  <div class="header-section">
    <div class="header-box">
      <div>
        <label
          >RO No: <span class="roNo-value">{{ roNo }}</span></label
        >
      </div>
      <div>
        <label>VIN: {{ vin }} </label>
      </div>
    </div>
    <div>
      <p-divider layout="vertical"></p-divider>
    </div>
    <div class="header-box">
      <div>
        <label
          >RO No: <span>{{ insurer }}</span></label
        >
      </div>
      <div>
        <label>VIN: {{ claimNo }} </label>
      </div>
    </div>
    <div>
      <p-divider layout="vertical"></p-divider>
    </div>

    <div class="header-box">
      <div>
        <label>Assigned User/Team</label>
      </div>
      <div>
        <p-dropdown
          [options]="dropdownAssignedUserOrTeam"
          [(ngModel)]="assignedUserOrTeam"
          optionLabel="label"
          optionValue="value"
          styleClass="dropdown"
        >
          <ng-template let-group pTemplate="item" class="option">
            <div class="p-d-flex p-ai-center">
              <!-- <p-badge styleClass="badge"></p-badge> -->
              <span>{{ group.label }}</span>
            </div>
          </ng-template>
          <ng-template let-group pTemplate="selectedItem">
            <div class="p-d-flex p-ai-center">
              <!-- <p-badge styleClass="badge"></p-badge> -->
              <span>{{ group.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </div>
</div>
