@import "../../assets/global-variables.scss";

.message-typing-section {
  font-size: 0.8em;

  .number-selecting-dropdown {
    ::ng-deep .dropdown {
      border: 0;

      ::ng-deep .p-dropdown-label {
        padding: 4px 8px;
        display: flex;
        font-size: 0.8em;
      }

      ::ng-deep .p-dropdown-item {
        padding: 4px 8px;
        display: flex;
        font-size: 0.8em;
      }
    }
  }

  .typing-section{
    border: 1px $border-color solid;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 0;
    
    .p-inputtext{
      border: 0;
      // width: 400px;
      padding: 5px 10px 5px 10px;
    }

    ::ng-deep .divider{
      height:2px;
      background-color: red;
      margin: 10px 0;
    }

    ::ng-deep button{
      // background-color: red;
      padding: 5px 0px 5px 0px;

    }

  }
}
