<div class="customer-message">
  <div class="customer-message-logo">
    <p-avatar
      styleClass="mr-2"
      [style]="{ 'background-color': '#c2c2e9', color: 'blue' }"
      shape="circle"
      class="avatar"
      >{{ title }}</p-avatar
    >
    <span class="dot"> </span>
  </div>

  <div class="content">
    <label class="main-label">{{ sender.senderName }}</label>
    <label class="last-message">{{
      sender.messages[sender.messages.length - 1].content
    }}</label>
  </div>
</div>
