@import "../../assets/global-variables.scss";

.customer-details {
  .customer-details-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $border-color solid;
    padding: 5px;

    .pi-pencil {
      margin: 5px;
    }
  }

  .customer-details-content{
    ::ng-deep .avatar{
      background-color: #c2c2e9;
      color: blue;
      margin: 15px 10px;
    }
  }
}
